<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>



<% if @hierarchy.size > 1  %>
  <h5>Chain of Command</h5>
  
       <% @hierarchy.each_with_index do |manager, i| %>

      <% if i == @hierarchy.size - 1 %>
        <%= manager.name %>
        <% else %>
        <%= manager.name %> =>
      <% end %>
       
    <% end %>
   
<% end %>



<br>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
